<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<div align="center">
<table border="1" cellpadding="5">
    <tr>
        <th>ID</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>E-mail</th>
    </tr>


<td th:text="${user.id}"></td>
<td th:text="${user.firstName}"></td>
<td th:text="${user.lastName}"></td>
<td th:text="${user.email}"></td>


</table>

<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">

    <input type="submit" value="Delete"/>
</form>
</div>
</body>
</html>